
{%load static%}
<html>
    <head>
        <link rel="stylesheet" href="{%static 'bootstrap.min.css'%}">
        <link rel="stylesheet" href="{%static 'style.css'%}">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row main">
              <div class="col-2 side-bar" style="background-color:  #002080;"><br>
                <h1 style="color: white; padding: 5px; font-family: 'Baloo Chettan 2', cursive;">Face-Shot</h1><hr>
                <p class="user">{{name}}</p><hr><br>
                <button class="btn" style="background-color: white; color: black;"><i class="fa fa-home"></i>Dashboard</button><br><br>
                <form action="/emplogin/">
                    <button class="btn"><i class="fa fa-unlock-alt"></i>Logout</button>
                </form>

              </div>

              <div class="col-10 stats">
                <h3 class="head">Dashboard</h3>
                <p class="text-muted" style="padding-left: 10px;">This is the visual data describing the statistics.</p><br>
                <canvas id="myChart" style="height: 30; width: 100;"></canvas><br><br>
                <div class="comb">
                <div class="hello">
                    <h3>Total Attendance</h3>
                    <p>No of Days Attended {{attendance}}</p>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="hello">
                    <h3>Monthly Salary</h3>
                    <p>Rs {{sal}}</p>
                </div>
            </div>
              </div>
            </div>
          </div>
          <script>
            let LineChart = document.getElementById('myChart').getContext('2d');
            let myLineChart = new Chart(LineChart, {
                type: 'line',
                data: {
                    labels:['January','February','March','April','May','June',],
                    datasets:[{
                        label:'No of Days Attended',
                        data:[{{jan}},{{feb}},{{mar}},{{apr}},{{may}},{{jun}}],
                        backgroundColor:'rgb(15, 233, 245)',
                        pointBackgroundColor:'rgb(0, 0, 0)',
                        borderColor:'rgb(0,0,0)'
                    }]
                },
                options: {},
            });
        </script>
    </body>
</html>
