{%load static%}
<!DOCTYPE html>
<html>


<head>
	<title>Ulook</title>
	<link rel="stylesheet" type="text/css" href="{%static 'file.css'%}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>


</head>
<body style="overflow: hidden;">


	<div class="sidebar">
		<header>FACE-SHOT</header>
		<ul>
			<li><a href="/file1/"><i class="fas fa-qrcode"></i>&nbsp;&nbsp;Dashboard </a></li>
			<li><a href="/adduser/"><i class="fas fa-link"></i>&nbsp;&nbsp;Add User</a></li>
			<li><a href="/live/"><i class="fas fa-stream"></i>&nbsp;&nbsp;Live Attendance</a></li>

		</ul>
	</div>


		<section class="second">
			<div>
                <form action="/admin2/">
			<button class="second1 btn btn-primary" style="float: right">Logout</button>
        </form>
			<h2 class="second1">DASHBOARD</h2><br><br>
			</div>

			<div class="row all">
                <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card shadow border-left-primary py-0">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col mr-2">
                                    <div style="font-family: 'Bree Serif', serif;" class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Total Strength</span></div>
                                    <div style="font-family: 'Bree Serif', serif;" class="text-dark font-weight-bold h5 mb-0"><span>{{total}}</span></div>
                                </div>
                                <div  class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-6 col-xl-3 mb-4">
                    <div class="card shadow border-left-success py-0">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col mr-2">
                                    <div style="font-family: 'Bree Serif', serif;" class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Total Strength</span></div>
                                    <div style="font-family: 'Bree Serif', serif;" class="text-dark font-weight-bold h5 mb-0"><span>2,150</span></div>
                                </div>
                                <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <br><br>
                <div>
                 <canvas id="myChart"  width="1000" height="200"></canvas>

           &nbsp;&nbsp;&nbsp; <h3>CATEGORY WISE</h3>

            <canvas id="myChart1" width="250px" height="40px"></canvas>
        </div>


		</section>




</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June',],
                datasets: [{
                    label: 'My First dataset',

                    backgroundColor: '#9999ff',

                    borderColor: '#000080',
                    data: [{{jan}},{{feb}},{{mar}},{{apr}},{{may}},{{jun}}]
                }]
            },

            // Configuration options go here
            options: {}
        });</script>

        <script>var ctx = document.getElementById('myChart1').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Computer Science', 'Electronics', 'Mechanical', 'Civil', 'Electrical'],
                    datasets: [{
                        label: '# of Votes',
                        data: [{{cse}},{{ex}},{{me}},{{ce}},{{ec}}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'red',
                            'blue',
                            'green',
                            'rgba(75, 192, 192, 1)',
                            'purple',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });</script>
</html>
