.side-bar{
    background-color: #002080;
}
.main{
    height: 100%;
}
.user{
    font-size: 20px;
    color: white;
    font-family: 'Baloo Chettan 2', cursive;
}
hr{
    background-color: white;
}
.btn{
    font-family: 'Baloo Chettan 2', cursive;
    color: white;
}
.fa{
    color: #8e9eab;
    margin-right: 20px;
}
.btn:hover{
    background-color: white;
    color: black;
}
.head{
    font-family: 'Baloo Chettan 2', cursive;
    padding-top: 10px;
    padding-left: 10px;
}
.hello{
    width: 30%;
    background-color: white;
    padding: 10px;
    font-family: 'Baloo Chettan 2', cursive;
}
.comb{
    display: flex;
}

h6{
    font-family: 'Baloo Chettan 2', cursive;
    padding-right: 100px;
}

.box{
    height: 70%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    margin-top: 7%;
    margin-left: 35%;

}
::placeholder{
    color: black;
    padding: 10px;
    font-family: 'Baloo Chettan 2', cursive;

}
.submit{
    height: 10%;
    width: 50%;
    border-radius: 10px;
    border: 1.2px solid black;
    font-family: 'Baloo Chettan 2', cursive;
    background-color: white;
}
.submit:hover{
    background: linear-gradient(to right, #00c6ff, #0072ff);
    border: none;
}
